<table class="country">
  <tbody class="country__details">
    <tr class="country__details__row">
      <th>Common Name</th>
      <td>{{ countryDetails.commonName }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Official Name</th>
      <td>{{ countryDetails.officialName }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Native Name</th>
      <td>{{ countryDetails.nativeName }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Native Official Name</th>
      <td>{{ countryDetails.nativeOfficialName }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Currencies</th>
      <td>{{ countryDetails.currencies.join(", ") }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Capital</th>
      <td>{{ countryDetails.capital.join(", ") }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Region</th>
      <td>{{ countryDetails.region }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Subregion</th>
      <td>{{ countryDetails.subregion }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Languages</th>
      <td>{{ countryDetails.languages.join(", ") }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Area</th>
      <td>{{ countryDetails.area }}</td>
    </tr>
    <tr class="country__details__row">
      <th>Population</th>
      <td>{{ countryDetails.population }}</td>
    </tr>
  </tbody>
</table>
