@import "./assets/scss/variables.scss";

.app {
  min-height: 100vh;
  display: flex;

  &__content {
    background-color: $color-primary;
    flex: 1;
    margin-left: 200px;

    router-outlet {
      margin: 0;
    }
  }
}
