@import "../../assets/scss/variables.scss";

.nav {
  position: fixed; // Added to make the nav fixed
  top: 0; // Positioned at the top of the page
  left: 0; // Positioned at the left of the page
  height: 100%;
  width: 200px;
  background: $color-secondary;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__logo {
    border-bottom: 2px solid $color-secondary-light;
    color: $color-accent;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  &__links {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: $color-primary;
    font-weight: bold;

    &__item {
      color: $color-primary;
      cursor: pointer;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      padding-left: 50px;

      svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;

        path {
          fill: $color-primary;
        }
      }

      &:hover,
      &:hover svg path {
        background-color: $color-secondary-light;
        color: $color-accent;
        fill: $color-accent;
      }
    }
  }
}
